<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meowmories</title>
  
</head>
<body>
  <header>
    <nav>

    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
</body>
</html>
