   <div class="title">Meowmeries</div>
    <form action="/signup" method="POST" class="container">
        <div class="form-row">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-row">
            <input type="text" name="firstName" placeholder="First Name" required>
            <input type="text" name="lastName" placeholder="Last Name" required>
        </div>
        <div class="form-row">
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="catName" placeholder="Cat's Name" required>
        </div>
        <div class="form-row">
            <input type="text" name="catBreed" placeholder="Cat's Breed" required>
            <input type="number" name="catAge" placeholder="Cat's Age" required style="flex-grow: 1;">
        </div>
        <button type="submit">Sign Up</button>
    </form>